In [16]:
import numpy as np
import pandas as pd

In [17]:
uniform = np.random.uniform(size=(10,10))

In [18]:
data = pd.DataFrame(uniform, columns="a b c d e f g h i j".split())

In [19]:
# 위의 데이터를 활용하여 PandasData class를 생성
class PandasData:
    def __init__(self, data):
        self.data = data

In [20]:
# 인스턴스 생성
pd_data = PandasData(data)

In [11]:
# 클래스를 프린트하면!
print(pd_data)

<__main__.PandasData object at 0x7fdc09dcbaf0>

In [49]:
# 자 이제 클래스 매직메소드를 알아봅시다
class PandasData:
    def __init__(self, data):
        self.data = data
    
    # 객체를 문자열로 나타내줌
    def __str__(self):
        return "안녕 나는 클래스!"
    
    # index를 출력할 수 있도록 해줌
    def __getitem__(self, idx):
        return self.data[idx]
    
    # 길이를 출력
    def __len__(self):
        return len(self.data)
    
    # 클래스를 함수처럼 호출할 수 있게 해줌
    def __call__(self):
        # 호출을 하면 head를 찍어보는 걸로 한 번 만들어 보자
        return self.data.head()

In [50]:
# 인스턴스 생성
pd_data = PandasData(data)

In [51]:
print(pd_data)

안녕 나는 클래스!

In [52]:
str(pd_data)

'안녕 나는 클래스!'

In [53]:
pd_data[3:5]

,a,b,c,d,e,f,g,h,i,j
3,0.603937,0.476178,0.348176,0.426243,0.673319,0.092919,0.084662,0.784248,0.992000,0.206204
4,0.680510,0.828601,0.854995,0.623782,0.707008,0.885201,0.656024,0.036192,0.043505,0.124502

In [54]:
len(pd_data)

10

In [55]:
pd_data[:10]

,a,b,c,d,e,f,g,h,i,j
0,0.481066,0.817718,0.005482,0.375261,0.140282,0.718311,0.731301,0.198508,0.434897,0.567554
1,0.440690,0.886681,0.873611,0.161543,0.858753,0.314928,0.894389,0.728169,0.676304,0.002486
2,0.181619,0.726922,0.909531,0.444168,0.469087,0.929685,0.636387,0.940607,0.299110,0.606034
3,0.603937,0.476178,0.348176,0.426243,0.673319,0.092919,0.084662,0.784248,0.992000,0.206204
4,0.680510,0.828601,0.854995,0.623782,0.707008,0.885201,0.656024,0.036192,0.043505,0.124502
5,0.147721,0.907068,0.148963,0.655540,0.316879,0.801379,0.898153,0.302701,0.269131,0.165910
6,0.749759,0.023076,0.331678,0.750334,0.446332,0.547828,0.871603,0.807038,0.431952,0.326070
7,0.738967,0.493176,0.619921,0.462660,0.976856,0.754311,0.194957,0.407592,0.425072,0.737292
8,0.502064,0.132246,0.489150,0.564911,0.299747,0.894868,0.097001,0.620676,0.989877,0.851482
9,0.550975,0.072010,0.101442,0.319063,0.975455,0.518220,0.365386,0.784540,0.186426,0.485671

In [56]:
for i in pd_data[:10]:
    print(i)

a
b
c
d
e
f
g
h
i
j

In [57]:
# 함수처럼 () 써서 호출하면 됨
pd_data()

,a,b,c,d,e,f,g,h,i,j
0,0.481066,0.817718,0.005482,0.375261,0.140282,0.718311,0.731301,0.198508,0.434897,0.567554
1,0.440690,0.886681,0.873611,0.161543,0.858753,0.314928,0.894389,0.728169,0.676304,0.002486
2,0.181619,0.726922,0.909531,0.444168,0.469087,0.929685,0.636387,0.940607,0.299110,0.606034
3,0.603937,0.476178,0.348176,0.426243,0.673319,0.092919,0.084662,0.784248,0.992000,0.206204
4,0.680510,0.828601,0.854995,0.623782,0.707008,0.885201,0.656024,0.036192,0.043505,0.124502